.ui.bottom{
  .ui.container{
    .ui.grid{

      .column{
        font-size: 16px;
        color: #C7D2E0;
        .block{
          padding-top: 5px;
          padding-bottom: 5px;
        }

        .songfulogo{
          width: 100px;
        }

      }
    }
  }
}
